{:deps {failjure/failjure {:mvn/version "2.2.0"}
        minizinc/clojure2minizinc {:mvn/version "0.2.0"}
        com.hyperfiddle/rcf {:mvn/version "20220926-202227"}
        org.clojure/core.async {:mvn/version "1.6.673"}}}